@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2:200i');
@import url('https://fonts.googleapis.com/css?family=Raleway:wght@100&display=swap');

:root{
    background-color: #080808;
    --neon-text-color: #000; /* #000 normally, red because it's closed */
    --neon-border-color: #1D871D;
    --neon-green-verybright-color: #00ff00;
    --neon-green-bright-color: #35d435;
    --neon-green-dark-color: #1D871D;
}

body {
    font-family: 'Roboto', sans-serif;

    /* Auto Layout */
    display: flex;
    flex-direction: column;
    padding: 0px;

    position: static;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

section#introduction {
    margin: 5em;
    /*border: 0.1em solid #fff;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#introduction-section-text {
    /*border: 0.1em solid #fff;*/
    max-width: auto;
    margin-right: 4em;
    justify-content: flex-start;
    /*border: 2px solid #fff;*/
}

#introduction-section-header h1 {
    font-size: 4em;
    font-weight: 900;
    color: #fff;
    /*color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 0.02em #fff;*/
    padding: 0.3em 0em;
  }

#introduction-section-header h2 {
    /*font-family: 'Damion', cursive;*/
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--neon-green-verybright-color);
    text-transform: uppercase;
}

p {
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.06em;
    line-height: 2em;
}

strong {
    font-weight: 500;
}

/* Buttons in the introductory area */
#introduction-section-buttons {
    display: flex;
    justify-content: left;
}

.btn.btn-default {
    margin: 4em 1.5em 4em 0em;
    width: 15em;
    height: 4em;
    border: 0.1em solid var(--neon-green-verybright-color);
    border-radius: 0.5em;
    background-color: rgba(53, 212, 53, 0.3);
    font-size: 1em;
    font-weight: 100;
    /*-webkit-text-stroke: 0.1em var(--neon-green-verybright-color);*/
    letter-spacing: 0.06em;
    color: var(--neon-green-verybright-color);
    text-transform: uppercase;
}

.btn.btn-disabled {
    margin: 4em 1.5em 4em 0em;
    width: 15em;
    height: 4em;
    border: 0.1em solid #FF0000;
    border-radius: 0.5em;
    background-color: #CC0000;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.06em;
    color: #FFCCCC;
    text-transform: uppercase;
}


.btn.btn-default::-moz-selection {
    background-color: var(--neon-green-dark-color);
    color: #000;
}
  
.btn.btn-default::selection {
    background-color: var(--neon-green-dark-color);
    color: #000;
}
  
.btn.btn-default:focus {
    outline: none;
}

.btn.btn-default:hover {
    background-color: var(--neon-green-verybright-color);
    color: #080808;
    border: 0.2em solid #080808;
    animation-play-state: paused;

    text-shadow:
            -0.2rem -0.2rem 1rem #1D871D,
            0.2rem 0.2rem 1rem #1D871D,
            0 0 2rem #000,
            0 0 4rem #000,
            0 0 6rem #000,
            0 0 8rem #000,
            0 0 10rem #000 !important;
          
        box-shadow:
            0 0 .5rem #1D871D,
            inset 0 0 .5rem #1D871D,
            0 0 2rem var(--neon-green-dark-color),
            inset 0 0 2rem var(--neon-green-dark-color),
            0 0 3rem var(--neon-green-dark-color),
            inset 0 0 3rem var(--neon-green-dark-color) !important; 
}

.btn.btn-default:hover {
    background-color: var(--neon-green-verybright-color);
    color: var(--neon-green-verybright-color);
    border: 0.2em solid var(--neon-green-verybright-color);
    animation-play-state: paused;

    text-shadow:
            -0.2rem -0.2rem 1rem #1D871D,
            0.2rem 0.2rem 1rem #1D871D,
            0 0 2rem #000,
            0 0 4rem #000,
            0 0 6rem #000,
            0 0 8rem #000,
            0 0 10rem #000 !important;
          
        box-shadow:
            0 0 .5rem #1D871D,
            inset 0 0 .5rem #1D871D,
            0 0 2rem var(--neon-green-dark-color),
            inset 0 0 2rem var(--neon-green-dark-color),
            0 0 3rem var(--neon-green-dark-color),
            inset 0 0 3rem var(--neon-green-dark-color) !important; 
}

.btn.btn-disabled:hover {
    background-color: #FF0000;
    color: #FFCCCC;
    border: 0.2em solid #FFCCCC;
    animation-play-state: paused;

    text-shadow:
            -0.2rem -0.2rem 1rem #CC0000,
            0.2rem 0.2rem 1rem #CC0000,
            0 0 2rem #000,
            0 0 4rem #000,
            0 0 6rem #000,
            0 0 8rem #000,
            0 0 10rem #000 !important;
          
    box-shadow:
            0 0 .5rem #CC0000,
            inset 0 0 .5rem #CC0000,
            0 0 2rem #7a0000,
            inset 0 0 2rem #7a0000,
            0 0 3rem #7a0000,
            inset 0 0 3rem #7a0000 !important;    
}

button#register {
    animation: flicker-red 4.8s infinite alternate;  
}

button#sponsor {
    animation: flicker-green 5.8s infinite alternate;  
}
  
/* Animate neon green flicker (open) */
@keyframes flicker-green {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow:
            -0.2rem -0.2rem 1rem #1D871D,
            0.2rem 0.2rem 1rem #1D871D,
            0 0 2rem #000,
            0 0 4rem #000,
            0 0 6rem #000,
            0 0 8rem #000,
            0 0 10rem #000;
          
        box-shadow:
            0 0 .5rem #1D871D,
            inset 0 0 .5rem #1D871D,
            0 0 2rem var(--neon-green-dark-color),
            inset 0 0 2rem var(--neon-green-dark-color),
            0 0 3rem var(--neon-green-dark-color),
            inset 0 0 3rem var(--neon-green-dark-color);      
    }
      
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

/* Animate neon red flicker (closed) */
@keyframes flicker-red {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow:
            -0.2rem -0.2rem 1rem #CC0000,
            0.2rem 0.2rem 1rem #CC0000,
            0 0 2rem #000,
            0 0 4rem #000,
            0 0 6rem #000,
            0 0 8rem #000,
            0 0 10rem #000;
          
        box-shadow:
            0 0 .5rem #CC0000,
            inset 0 0 .5rem #CC0000,
            0 0 2rem #7a0000,
            inset 0 0 2rem #7a0000,
            0 0 3rem #7a0000,
            inset 0 0 3rem #7a0000;      
    }
      
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

#introduction-section-image {
    /*border: 0.1em solid #fff;*/
    width: auto;
    height: auto;
}